//* Colors

// Shades
$c-first: hsl(192, 15%, 99%);
$c-second: hsl(192, 15%, 94%);
$c-third: hsl(0, 0%, 79%);
$c-fourth: hsl(210, 29%, 21%);

// Colors
$c-blue: hsl(208, 79%, 51%);
$c-yellow: hsl(48, 96%, 59%);
$c-orange: hsl(33, 93%, 52%);
$c-red: hsl(0, 92%, 52%);

// Fonts
$c-heading: hsl(210, 29%, 21%);
$c-text: hsl(210, 29%, 21%);
