/**
 * forms represents rules for
 * each form of the app
*/

@mixin form-rules {
    form {
        h1 {
            margin-top: 0;
            margin-bottom: 24px;
        }

        input,
        select,
        textarea {
            margin-bottom: 16px;
        }

        // Selector img around input field
        input ~ img {
            width: 200px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 20px;
        }

        textarea {
            height: 300px;
        }

        button {
            display: block;
            margin: 24px 0 24px auto;
        }
        
        // Errors messages are on div
        div {
        margin-top: -8px;
        margin-bottom: 12px;
        background-color: $c-red;
        padding: 4px;
        color: $c-first;
        }
    }

    @content;
}

@mixin form-shape {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}