@import "./styles.scss";

.lastArticlesSection {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;

    @include tablet {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    // Rules for each article type inside the section
    & article {
        @include mobile {
            height: 200px;
            margin-bottom: 1rem;
        }
    }
    // rules only for the first element of the section
    & > :first-child {
        @include tablet {
            width: 100%;
        }
    
        @include desktop {
            article {
                height: 400px;
            }
        }
    }
    // rules only for the elements where not the first on the section
    & > :not(:first-child) {
    @include tablet {
        width: calc(50% - 0.5rem);
        }
    }
}

